.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffde22; /* Bright Yellow */
}

.logo h1 {
  color: #0f0e0e;
  font-weight: 800;
  font-size: x-large; /* Brightly Orange */
}

.nav-links {
  display: flex;
}

.nav-link {
  font-size: 16px;
  font-weight: 800;
  color: #0b0b0b; /* Brightly Orange */
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(107 33 168); /* Alert/Highlight Green */
}

.active-link {
  color: #59ce8f; /* Alert/Highlight Green */
}

.hire-button button {
  padding: 0.5rem 1rem;
  background-color: #100e0e; /* Brightly Orange */
  color: #ffffff; /* White */
  border: none;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hire-button button:hover {
  background-color: rgb(107 33 168); /* Brighter Orange */
  color: #ffffff; /* White */
}

@media (min-width: 768px) {
  .nav-links {
    margin-right: 2rem;
  }
}

@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
    padding: 1rem 0;
  }

  .nav-links {
    margin-top: 1rem;
  }
}
