@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@keyframes slideInFromLeft {
     0% {
       transform: translateX(-100%);
     }
     100% {
       transform: translateX(0);
     }
   }
body{
     font-family: 'Roboto', sans-serif;
     animation: 1s ease-out 0s 1 slideInFromLeft;
  
  
}
